[package]
name = "csview"
version = "0.3.8-dev"
authors = ["Wenxuan Zhang <wenxuangm@gmail.com>"]
description="A high performance csv viewer with cjk/emoji support."
categories = ["command-line-utilities"]
homepage = "https://github.com/wfxr/csview"
keywords = [
    "csv",
    "pager",
    "viewer",
    "tool",
]
readme = "README.md"
license = "MIT/Apache-2.0"
exclude = ["/completions"]
repository = "https://github.com/wfxr/csview"
edition = "2018"
build = "build.rs"

[dependencies]
csv = "^1.1.6"
structopt = { version = "^0.3.21", features = ["wrap_help"] }
exitcode = "^1.1.2"
anyhow = "^1.0.40"

# https://github.com/phsym/prettytable-rs/pull/114
[dependencies.prettytable-rs]
git = "https://github.com/phsym/prettytable-rs"
rev = "cf7dca33e2e2131c20e4bbc34ad222c5e6edc29a"
version = "^0.8"

[build-dependencies]
structopt = "^0.3.21"

[profile.release]
lto = true
codegen-units = 1
