[package]
name = "csview"
version = "0.3.9-dev"
authors = ["Wenxuan Zhang <wenxuangm@gmail.com>"]
description="A high performance csv viewer with cjk/emoji support."
categories = ["command-line-utilities"]
homepage = "https://github.com/wfxr/csview"
keywords = [
    "csv",
    "pager",
    "viewer",
    "tool",
]
readme = "README.md"
license = "MIT/Apache-2.0"
exclude = ["/completions"]
repository = "https://github.com/wfxr/csview"
edition = "2021"
build = "build.rs"

[dependencies]
csv = "^1.1.6"
structopt = { version = "^0.3.25", features = ["wrap_help"] }
exitcode = "^1.1.2"
anyhow = "^1.0.48"
prettytable-rs = "^0.8"

[build-dependencies]
structopt = "^0.3.25"

[profile.release]
lto = true
codegen-units = 1

[patch.crates-io]
prettytable-rs = { git = "https://github.com/wfxr/prettytable-rs" }
